<div id="homepage" class="section">

</div>
<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">About Us</h3>
            <p style="text-align:justify">An online service to facilitate businesses to consult and buy their desired custom-made 3D content for marketing purposes.</p>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Categories</h3>
            <ul class="footer-links">
              <li><a href="#">Music</a></li>
              <li><a href="#">Electronics</a></li>
              <li><a href="#">Vehicles</a></li>
              <li><a href="#">Food</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Information</h3>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>

            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Links</h3>
            <ul class="footer-links">
              <li><a href="#"><i class="fa fa-map-marker"></i>Karachi,Pakistan</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
            </ul>
          </div>
        </div>


      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

</footer>
<!-- /FOOTER -->

